* {
    user-select: none;
}

body {
    font-family: Helvetica;
}

.left {
    background-color: #e2d2be;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.interface {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50%;
    padding: 20px;
}

/* a.button {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 17px 40px;
    border-radius: 10px;
    border: solid black;
    border-width: 2px;
} */

a {
    text-decoration: none;
}

.launchButton {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
}

button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
    transform: translateX(5px) rotate(90deg);
}

button:hover span {
    transform: translateX(7px);
}


.abortButton {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(199, 30, 30);
    border-radius: 160px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 40px;
    border: solid 2px black;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.3), inset 1px 1px 7px rgba(255, 255, 255, 0.7);
}

.right {
    background-color: rgb(247, 247, 247);
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.ground {
    /* background-color: green; */
    background: url(img/ground.png) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

.nervious {
    position: absolute;
    bottom: 220px;
    background-image: url(img/nervous.png);
    left: 50%;
    margin-left: -180px;
    height: 100px;
    width: 223px;
    display: none;
}

.nervious.show {
    display: block;
}

.cant-wait {
    position: absolute;
    bottom: 220px;
    background-image: url(img/cant-wait.png);
    left: 50%;
    height: 65px;
    width: 206px;
    display: none;
}

.cant-wait.show {
    display: block;
}

.rocket {
    position: absolute;
    left: 50%;
    bottom: -13px;
    width: 143px;
    height: 272px;
    margin-left: -71.5px;
    /* background-color: white; */
    background: url(img/rocket-state1.png) no-repeat center center;
    background-size: 100%;
    transition: bottom 9000ms;
}

body.body-state2 .rocket {
    background-image: url(img/rocket-state2.gif);
}

body.body-state3 .rocket,
body.body-state4 .rocket {
    background-image: url(img/rocket-state3.gif);
}

body.body-state5 .rocket {
    background-image: url(img/boom.png);
    height: 200px;
    width: 209px;
    margin-left: -104.5px;
}

body.body-state1 .rocket {
    transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket {
    bottom: 2000px;
}

.state1,
.state2,
.state3,
.state4,
.state5 {
    display: none;
}

body.body-state1 .state1 {
    display: block;
}

body.body-state2 .state2 {
    display: block;
}

body.body-state3 .state3 {
    display: block;
}

body.body-state4 .state4 {
    display: block;
}

body.body-state5 .state5 {
    display: block;
}

@media screen and (max-width: 800px) {

    .left {
        background-color: #e2d2be;
        width: 100%;
        height: 100px;
        top: auto;
        bottom: 0;
    }

    .right {
        background-color: rgb(247, 247, 247);
        width: 100%;
        height: 100%;
        top: auto;
        bottom: 100px;
    }

    .interface {
        display: flex;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: -33px;
        padding: 20px;
        justify-content: space-between;
        font-size: 11px;
    }

    .abortButton {
        display: inline-block;
        text-decoration: none;
        color: white;
        background-color: rgb(199, 30, 30);
        padding: 30px;
        border-radius: 140px;
    }

    .state1,
    .state2,
    .state3,
    .state4,
    .state5 {
        display: none;
    }

    body.body-state1 .state1 {
        display: block;
    }

    body.body-state2 .state2 {
        display: block;
    }

    body.body-state3 .state3 {
        display: block;
    }

    body.body-state4 .state4 {
        display: block;
    }

    body.body-state5 .state5 {
        display: block;
    }

}